@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Welcome to the MeCommerce Admin Portal</h1>
    <p class="lead text-center">From here you can create, read, update and delete the important information on your site.</p>
    <p class="text-center"><a href="https://fypme.azurewebsites.net/" class="button-style">View Current Site</a></p>
</div>

<div class="row" style="width: 100%;
                                      display: block;
                                      margin-left: auto;
                                      margin-right: auto;">
    <div class="col-md-3">
        <h2>Categories</h2>
        <p>From here you can create, read, edit and delete categories on the website. (Please ensure the category hasn't got any products assigned before deleting)</p>
        <p><a class="button-style" href="http://go.microsoft.com/fwlink/?LinkId=301866">View Categories</a></p>
    </div>
    <div class="col-md-2">
        <h2>Users</h2>
        <p>
            From here you can edit users contact information and admin rights or delete them from the database.
        </p>
        <p><a class="button-style" href="http://go.microsoft.com/fwlink/?LinkId=301865">View Users</a>
        </p>
    </div>
    <div class="col-md-2">
        <h2>Products</h2>
        <p>From here you can create, read, edit and delete products on the website.</p>
        <p><a class="button-style" href="http://go.microsoft.com/fwlink/?LinkId=301867">View Products</a>
        </p>
    </div>
    <div class="col-md-2">
        <h2>Orders</h2>
        <p>This section allows you to check on orders, edit any order information and delete orders if necessary.</p>
        <p><a class="button-style" href="http://go.microsoft.com/fwlink/?LinkId=301867">View Orders</a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>Brands</h2>
        <p>From here you can create, read, edit and delete categories on the website. (Please ensure the brand hasn't got any products assigned before deleting)</p>
        <p>
            <a class="button-style" href="http://go.microsoft.com/fwlink/?LinkId=301867">View Brands</a>
        </p>
    </div>
</div>