@model MeCommerceAdmin.Models.ExternalLoginListViewModel

<h4 class="text-center">Notice</h4>
<hr />

        <div>
            <p>
                This website is for MeCommerce Website Administrators only. If you are looking for our fantastic online store, please <a href="https://fypme.azurewebsites.net/">click here</a>!
            </p>
        </div>