@model MeCommerce.ViewModels.CategoryViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">@Model.Name</h2>
        <p class="text-center">
            Check out all products under the @Model.Name category below!
        </p>
    </div>
</div>

@Html.Partial("~/Views/Product/_productTable.cshtml", Model.Products)