@model IEnumerable<MeCommerce.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">All Categories</h2>

<hr />

@foreach (var item in Model)
{

    <h3 class="text-center">@Html.DisplayFor(modelItem => item.Name)</h3>

    <p class="text-center ">@Html.DisplayFor(modelItem => item.Description)</p>

    <br />

    <p class="text-center">@Html.ActionLink("View Products", "Details", new { id = item.Id }, new { @class = "button-style" })</p>

    <hr />

}