body {
    padding-bottom: 20px;
}

html, body {
    width:100%; 
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@media only screen and (max-width: 1236px) {
    #navbar {
        display: none;
    }
}

@media only screen and (min-width: 1026px) {
    #basket-Panel {
        width: 30%;
    }
}

@media only screen and (max-width: 767px) {
    #term {
        display: none !important;
    }
}

@media only screen and (max-width: 767px) {
    #search-button {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #search-button {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    #carticon {
        margin-top: 0
    }
}

@media only screen and (max-width: 767px) and (min-width: 384px)  {
    #logo {
        margin-top: 0
    }
}

@media only screen and (max-width: 383px) {
    #logo {
        width: 175px;
       margin-top: 10px
    }
}

.logo {
    text-indent: -9999px; /* hides the link text */
    width: 292px;
    margin-left: 32px;
    margin-top: -22px;
}

.navbar {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);
    background-color: #ffffff;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.nav > li > a {
    color: #848484;
}

    .nav > li > a:hover {
        color: #4285f4;
        background-color: #ffffff;
    }

.navbar-text-style {
    font-size: 14px;
    line-height: 22px;
}

.nav-box {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 1%;
    margin-right: 3%;
}

.hamburger {
    float: left;
    margin-top: 18px;
}

.navIcon > * {
    width: 18px;
}

.navIcon {
    height: 20px;
    cursor: pointer;
}

.naviconUpper {
    border-top: 2px solid #a3a3a3;
    cursor: pointer;
}

.innerNavicon {
    margin-top: 3px;
    border-top: 2px solid #a3a3a3;
    cursor: pointer;
}

.naviconLower {
    border-bottom: 2px solid #a3a3a3;
    cursor: pointer;
    margin-top: 3px;
}

.basket-header {
    margin-top: 12px !important;
}

.button-style {
    background-color: #428bca;
    color: white !important;
    border-radius: 3px;
    border: none !important;
    margin-top: 6px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.facebook-button {
    margin-left: 2px;
}

.microsoft-button {
    background-color: #01a4ef;
    color: white !important;
    border-radius: 3px;
    border: none !important;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 269px;
    height: 49.5px;
    margin-top: 6px;
    vertical-align: top;
}

.socialLoginList {
    text-align: center;
}

.auth-style > li > a {
    background-color: #428bca;
    color: white !important;
    border-radius: 3px;
    left: 20px;
    margin-right: 20px;
    margin-top: 6px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

    .auth-style > li > a:hover {
        background-color: #316da0;
    }

    .auth-style > li > a:focus {
        background-color: #316da0 !important;
    }

.cart-icon {
    margin-top: 11px;
    width: 24px;
    cursor: pointer;
}

.checkout-style {
    background-color: #428bca;
    color: white !important;
    border-radius: 3px;
    border: none !important;
    margin-top: 6px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.log-in-fields {
    margin-left: 35px;
    width: 66%;
}

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *::after, *::before {
        content: '';
    }

/* --------------------------------

    SLIDE IN PANELS

-------------------------------- */

.cd-main-content .cd-btn {
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    background-color: #89ba2c;
    color: #ffffff;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 50em;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 5px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.no-touch .cd-main-content .cd-btn:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

.cd-panel {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.6s;
    -moz-transition: visibility 0s 0.6s;
    transition: visibility 0s 0.6s;
}

    .cd-panel::after {
        /* overlay layer */
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        -webkit-transition: background 0.3s 0.3s;
        -moz-transition: background 0.3s 0.3s;
        transition: background 0.3s 0.3s;
    }

    .cd-panel.is-visible {
        visibility: visible;
        -webkit-transition: visibility 0s 0s;
        -moz-transition: visibility 0s 0s;
        transition: visibility 0s 0s;
    }

        .cd-panel.is-visible::after {
            background: rgba(0, 0, 0, 0.6);
            -webkit-transition: background 0.3s 0s;
            -moz-transition: background 0.3s 0s;
            transition: background 0.3s 0s;
        }

        .cd-panel.is-visible .cd-panel-close::before {
            -webkit-animation: cd-close-1 0.6s 0.3s;
            -moz-animation: cd-close-1 0.6s 0.3s;
            animation: cd-close-1 0.6s 0.3s;
        }

        .cd-panel.is-visible .cd-panel-close::after {
            -webkit-animation: cd-close-2 0.6s 0.3s;
            -moz-animation: cd-close-2 0.6s 0.3s;
            animation: cd-close-2 0.6s 0.3s;
        }

@-webkit-keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(45deg);
    }
}

@-moz-keyframes cd-close-1 {
    0%, 50% {
        -moz-transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(45deg);
    }
}

@keyframes cd-close-1 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

@-webkit-keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-45deg);
    }
}

@-moz-keyframes cd-close-2 {
    0%, 50% {
        -moz-transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(-45deg);
    }
}

@keyframes cd-close-2 {
    0%, 50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}

.cd-panel-header {
    position: fixed;
    width: 90%;
    height: 50px;
    line-height: 50px;
    background: rgb(238, 238, 238);
    z-index: 2;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    -webkit-transition: top 0.3s 0s;
    -moz-transition: top 0.3s 0s;
    transition: top 0.3s 0s;
}

    .cd-panel-header h1 {
        font-weight: bold;
        padding-left: 5%;
        margin-top: 7px;
    }

.from-right .cd-panel-header, .from-left .cd-panel-header {
    top: -50px;
}

.from-right .cd-panel-header {
    right: 0;
}

.from-left .cd-panel-header {
    left: 0;
}

.is-visible .cd-panel-header {
    top: 0;
    -webkit-transition: top 0.3s 0.3s;
    -moz-transition: top 0.3s 0.3s;
    transition: top 0.3s 0.3s;
}

@media only screen and (min-width: 768px) {
    .cd-panel-header {
        width: 70%;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-panel-header {
        width: 20%;
    }
}

.cd-panel-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    /* image replacement */
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}

    .cd-panel-close::before, .cd-panel-close::after {
        /* close icon created in CSS */
        position: absolute;
        top: 22px;
        left: 20px;
        height: 3px;
        width: 20px;
        background-color: #000000;
        /* this fixes a bug where pseudo elements are slighty off position */
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .cd-panel-close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .cd-panel-close::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

.no-touch .cd-panel-close:hover::before, .no-touch .cd-panel-close:hover::after {
    background-color: #000000;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.no-touch .cd-panel-close:hover::before {
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    -ms-transform: rotate(220deg);
    -o-transform: rotate(220deg);
    transform: rotate(220deg);
}

.no-touch .cd-panel-close:hover::after {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.cd-panel-container {
    position: fixed;
    width: 90%;
    height: 100%;
    top: 0;
    background: #FFFFFF;
    z-index: 1;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.from-right .cd-panel-container {
    right: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.from-left .cd-panel-container {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.is-visible .cd-panel-container {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
}

@media only screen and (min-width: 768px) {
    .cd-panel-container {
        width: 70%;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-panel-container {
        width: 20%;
    }
}

.cd-panel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 70px 5%;
    /* smooth scrolling on touch devices */
    -webkit-overflow-scrolling: touch;
}

    .cd-panel-content p {
        font-size: 14px;
        font-size: 0.875rem;
        color: #424f5c;
        line-height: 1.4;
        margin: 2em 0;
    }

        .cd-panel-content p:first-of-type {
            margin-top: 0;
        }

@media only screen and (min-width: 768px) {
    .cd-panel-content p {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.6;
    }
}