@model MeCommerce.ViewModels.BrandViewModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-md-12">
        <h2>View Brand - @Model.Name</h2>
        <p>
            Check out all products under the @Model.Name brand below!
        </p>
        <hr />
    </div>
</div>

@Html.Partial("~/Views/Product/_productTable.cshtml", Model.Products)