@model MeCommerce.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Basket";
}

<h2>Shopping Basket</h2>
@if (Model.ShoppingCartItems == null)
{
    <p>Your Basket is empty :(</p>
}
else
{
    @Html.Partial("~/Views/Order/_basketItems.cshtml", Model.ShoppingCartItems)
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>