@model MeCommerce.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>ShoppingCartViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>

@Html.Partial("~/Views/Order/_basketItems.cshtml", Model.ShoppingCartItems)